:root {
  --primary-color: rgb(238, 99, 123);
  --secondary-color: #d2f3e0c4;
  --third-color: #524a4e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  text-align: center;
  margin: 120px 40px;
}

h1 {
  color: var(--primary-color);
}

h3 {
  color: var(--third-color);
  margin-bottom: 30px;
}

.about-me-paragraph {
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  flex: 1;
  justify-content: space-between;
  margin: 20px 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 60px;
}
.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact {
  color: white;
  background: var(--primary-color);
}
.about-paragraphs {
  display: flex;
  margin: 30px 60px;
}
#contact-me {
  font-size: 45px;
  color: var(--primary-color);
  font-weight: bold;
}
.email {
  text-decoration: none;
  font-size: 30px;
  color: var(--third-color);
}

.go-to-homepage {
  color: var(--third-color);
}

.go-to-homepage :visited {
  color: var(--third-color);
}
.bg-personal {
  background-color: var(--primary-color);
}

.project-button {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.row {
  padding: 20px;
}
.project {
  text-align: left;
}
.project-name {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 15px 15px;
}

@media (max-width: 576px) {
  .main-img {
    display: none;
  }
  .project-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .navigation-links a {
    padding: 15px 10px;
  }
  .project,
  .project-name {
    text-align: center;
  }
  .about-paragraphs {
    display: block;
    margin: 20px auto;
    width: 100%;
  }
  .about-me-paragraph {
    margin: 0px;
  }
}
